:root{
  --card-w: 420px;   /* smaller */
  --radius: 12px;
}

body{
  margin:0;
  min-height:100vh;
  display:grid;
  place-items:center;
  background:#fff;
}

.card{
  width: min(90vw, var(--card-w));
  border:1px solid #d7d7d7;
  border-radius: 14px;
  box-shadow: 0 2px 0 rgba(0,0,0,.05);
  overflow:hidden;
}

.card__top{
  height: 40px;        
  background:#f6d866;
}

.card__body{
  padding: 20px 28px 28px;
}

.title-row{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom: 20px;
}

.title{
  margin:0;
  font-size: 30px;        
  font-weight: 800;
}

.sort-icon{
  opacity:.5;
  user-select:none;
  font-size: 18px;        
}


.input-container{
  position:relative;
  margin: 4px 0 16px;
}
.input{
  width:85%;
  padding: 14px 48px 14px 16px;  
  font-size:16px;
  border:1px solid #d7d7d7;
  border-radius: 12px;           
  outline:none;
}
.input:focus{
  border-color:#bfbfbf;
}

.become-list {
  pointer-events: none;
}

/* Clear button */
.clear-btn{
  position:absolute;
  right:12px;
  top:50%;
  margin-bottom: 150px;
  translate: 0 -50%;
  width:28px; height:28px;       
  border-radius:50%;
  border:1px solid #d7d7d7;
  background:#fff;
  display:grid; 
  place-items:center;
  font-size:16px;
  color:#999;
  cursor:pointer;
}
.clear-btn:hover{ background:#f7f7f7; }

/* Purple Add button */

.add-wrap:hover{ filter: brightness(1.03); }

.add-wrap {
  position: relative;
  width: 70%;          
  margin: 10px 70px;
}

.add-btn {
  width: 90%;
  padding: 16px 22px 16px 60px;   
  border-radius: 999px;
  background: #833AE0;
  color: #fff;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.plus {
  position: absolute;
  top: 50%;
  left: -8px;                    
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 28px;
  background: #9953F1;
  color: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.to-do-list {
   width:85%;
  padding: 14px 48px 14px 16px;  
  font-size:16px;
  border:1px solid #d7d7d7;
  border-radius: 12px;           
  outline:none;
}

.todo-list {
  display: none;
   width:85%;
  padding: 14px 48px 14px 16px;  
  font-size:16px;
  border:1px solid #d7d7d7;
  border-radius: 12px;           
  outline:none;
  list-style: none;
}


.todo-list li {
  margin-bottom: 10px;
}